{rebar3, [
          "rebar.lock"
         ]
}.

{erl_opts, [
            debug_info,
            warnings_as_errors,
            report,
            verbose,
            {parse_transform, lager_transform},
            {config, "src/ertorrent.config"}
           ]
}.

{deps, [
        {cowboy, "2.6.3"},
        {gun, "1.3.0"},
        {jiffy, "0.15.2"},
        {lager, "3.6.9"}
       ]
}.

{plugins, [rebar3_run]}.

{dialyzer, [
            {warnings, [
                        no_return,
                        no_unused,
                        no_improper_lists,
                        no_fun_app,
                        no_match,
                        no_opaque,
                        no_fail_call,
                        no_contracts,
                        no_behaviours,
                        no_undefined_callbacks,
                        %unmatched_returns,
                        error_handling,
                        race_conditions,
                        overspecs,
                        underspecs,
                        specdiffs
                       ]},
            {get_warnings, true},
            {plt_apps, top_level_deps}, % default: top_level_deps
            {plt_prefix, "ertorrent"}
           ]
}.

{relx, [
    {release,
        {ertorrent, "0.1.0"},
        [ertorrent, syntax_tools]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{profiles, [
    {test, [
            {erl_opts, [debug_info]},
            {cover_enabled, true},
            {cover_opts, [verbose]}
           ]},
    {prod,
     [{relx, [{dev_mode, false},
              {include_erts, true}]}]
    }
]}.
