%% -*- mode: erlang -*-
[
    {kernel,
        [
            {inet_dist_listen_min, 9100},
            {inet_dist_listen_max, 9200}
        ]
    },
    {lager, [
        {log_root, "/home/orz/code/ertorrent/logs"},
        {handlers, [
            {lager_console_backend, [{level, debug}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "info.log"}, {level, info}]},
            {lager_file_backend, [{file, "console.log"}, {level, debug}]}
        ]}
    ]}
].

